.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fst
data-prep/data-inputs/Parcels/Land_Use_Codes_2009.pdf
data-prep/data-inputs/Parcels/PED_LANDUSE_2011/PED_LANDUSE.dbf
data-prep/data-inputs/Parcels/PED_LANDUSE_2011/PED_LANDUSE.prj
data-prep/data-inputs/Parcels/PED_LANDUSE_2011/PED_LANDUSE.shp
data-prep/data-inputs/Parcels/PED_LANDUSE_2011/PED_LANDUSE.shx
data-prep/data-inputs/Parcels/PED_Landuse_2016/Land_Use_Codes_2009.pdf
data-prep/data-inputs/Parcels/PED_Landuse_2016/PED_LANDUSE.dbf
data-prep/data-inputs/Parcels/PED_Landuse_2016/PED_LANDUSE.prj
data-prep/data-inputs/Parcels/PED_Landuse_2016/PED_LANDUSE.shp
data-prep/data-inputs/Parcels/PED_Landuse_2016/PED_LANDUSE.shx
data-prep/data-inputs/Parcels/PED_Landuse_2016_old/Land_Use_Codes_2009.pdf
data-prep/data-inputs/Parcels/PED_Landuse_2016_old/PED_LANDUSE.dbf
data-prep/data-inputs/Parcels/PED_Landuse_2016_old/PED_LANDUSE.prj
data-prep/data-inputs/Parcels/PED_Landuse_2016_old/PED_LANDUSE.shp
data-prep/data-inputs/Parcels/PED_Landuse_2016_old/PED_LANDUSE.shx
data-prep/data-inputs/Parcels/Readme-Zonal_83.pdf
data-prep/data-inputs/Parcels/RED_LU_centroids_2011.RData
data-prep/data-inputs/Parcels/RED_LU_centroids_2016.RData
editorial-correspondance
